# ==================================================
# DJANGO CORE
# ==================================================
DEBUG=True
SECRET_KEY=your-secret-key

ALLOWED_HOSTS=127.0.0.1,localhost


# ==================================================
# DATABASE
# ==================================================
DB_ENGINE=django.db.backends.postgresql
DB_NAME=sales_mails
DB_USER=postgres
DB_PASSWORD=your-db-password
DB_HOST=localhost
DB_PORT=5432


# ======================================
# CONFIGURACIÓN SMTP
# ======================================
EMAIL_BACKEND=django.core.mail.backends.smtp.EmailBackend

EMAIL_HOST=smtp.gmail.com
EMAIL_PORT=587

EMAIL_HOST_USER=your-email@gmail.com
EMAIL_HOST_PASSWORD=your-email-password
EMAIL_USE_TLS=True